[submodule "pulsar"]
	path = services/pulsar
	url = git@github.com:Rckdrigo/pulsar.git
	branch = master

[submodule "planet"]
	path = platform/planet
	url = git@github.com:Rckdrigo/planet.git
	branch = master

[submodule "luna"]
	path = platform/luna
	url = git@github.com:Rckdrigo/luna.git
	branch = master

[submodule "earth"]
	path = earth
	url = git@github.com:Rckdrigo/earth.git
	branch = master

[submodule "supernova"]
	path = platform/supernova
	url = git@github.com:Rckdrigo/supernova.git
	branch = master

[submodule "planet-prime"]
	path = templates/planet-prime
	url = git@github.com:Rckdrigo/planet-prime.git
	branch = master
[submodule "clients"]
	path = clients
	url = git@github.com:Rckdrigo/clients.git
