[submodule "pulsar"]
	path = pulsar
	url = git@github.com:Rckdrigo/pulsar.git
	branch = master

[submodule "planet"]
	path = planet
	url = git@github.com:Rckdrigo/planet.git
	branch = master

[submodule "luna"]
	path = luna
	url = git@github.com:Rckdrigo/luna.git
	branch = master
